<%- model_class = User -%>
<div class="page-header">
  <h1>User Maintenance</h1>
</div>
<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= model_class.human_attribute_name(:admin) %></th>
      <th><%= model_class.human_attribute_name(:supervisor) %></th>
      <th><%= model_class.human_attribute_name(:csr) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= div_for_boolean user.admin, "#{user.id}_admin" %></td>
        <td><%= div_for_boolean user.supervisor, "#{user.id}_supervisor" %></td>
        <td><%= div_for_boolean user.csr, "#{user.id}_csr" %></td>
        <td>
          <%= link_to 'Edit Roles', edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Change Password', edit_user_password_path(user), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
